<div class="admin-layout-wrapper">
    <div class="admin-header-wrapper">
        <div class="admin-header-content">

        </div>
    </div>
    <div class="admin-sidebar-wrapper">
        <el-scrollbar style="height:100%;">
            <el-menu default-active="2" class="admin-sidebar-content" background-color="#545c64" text-color="#fff"
                active-text-color="#ffd04b">
                <Sidebaritem :treeData="navList"></Sidebaritem>
            </el-menu>
        </el-scrollbar>
    </div>
</div>
